.tooltip-underline {
	cursor: help;
	border-bottom: 1px dotted #999;
}
.btn:active, .btn.active {
	box-shadow: inset 0 3px 5px rgba(0,0,0,.5);
}
.itemBuild-inventory img.itemBuild-img-sm {
	width: 40px;
	cursor: default;
}
.itemBuild-inventory img {
	width: 50px;
}
.itemBuild-inventory .btn {
	padding: 1px 5px;
}
.inventory img {
	width: 75px;
}
.inventory .btn {
	padding: 3px 10px;
}
.carry-over {
	position: relative;
}
.carry-over .btn {
	position: absolute;
	top: -8px;
	left: -24px;
}
#shop-container {
	z-index: 999;
}
.build-table tbody td.no-top-border {
	border-top: 0;
}
.build-table tbody td.right-border:last-child, .build-table tbody td.right-border:nth-last-child(2), .build-table tbody td.right-border-itemrow:last-child,
.build-table thead th.right-border:last-child, .build-table thead th.right-border:nth-last-child(2) {
	border-right: 0;
}
.build-table thead th.right-border, .build-table tbody td.right-border, .build-table tbody td.right-border-itemrow {
	border-right: 1px solid #202125;
}
td {
    font-family: "Calibri";
	font-size: 15px;
}
.inventory {
    min-height: 77px;
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.inventory.row-highlight {
	box-shadow: inset 0 0 6px rgba(0,0,0,.5)
}
.hide-shop-item-details .item_field {
	display: none;
}
.hide-shop-item-details .item_field.item_name, .hide-shop-item-details .item_field.item_cost {
	display: inline;
}
.hover-cursor  {
	cursor: pointer;
}
.hover-cursor:hover {
	color: #aaa;
	background-color: #1c1d1f;
}
.hover-cursor:active {
	opacity: .8;
}
.row-highlight, .row-highlight:hover {
	color: #aaa;
	background-color: #202126;
}
.allow-events, .btn.allow-events {
    cursor: pointer;
    pointer-events: auto;
}
.ui-spinner-button {
    width: 32px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
    line-height: 2.5em;
}
.ui-spinner-button:hover, .ui-spinner-button:focus {
    text-decoration:none;
    cursor:pointer;
    color: #aaa;
    background-color: #202126;
    border-color: #6C707B;
}
.ui-spinner-up {
top: 0;
}
.ui-spinner-down {
bottom: 0;
}
.ui-spinner {
width: 100%;
position: relative;
display: inline-block;
overflow: hidden;
padding: 0;
vertical-align: middle;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
border-bottom-right-radius: 4px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #303239;
font-weight: bold;
color: #1c94c4;
}
.ui-spinner-input {
    border: 1px solid #303239;
    color: #2C8CE0;
    background-color: #131415;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.ui-icon.ui-icon-triangle-1-n, .ui-icon.ui-icon-triangle-1-s {
    display:inline;
}

hr {
    margin: 3px 0px;
}

img {
    max-width: 100%;
}

.checkbox-label {
    cursor: pointer;
}

.subtotal td {
    font-weight: bold;
    border-bottom: 3px solid #202125;
}

.indent {
    text-indent: 10px;
}

.table>tbody+tbody {
    border-top: 1px solid #202125;
}

.diffPos {
    color: #5cb85c;
}

.diffNeg {
    color: #d9534f;
}

.modal-content {
    background-color: #1c1d1f;
}

.modal-header {
    border-bottom: 1px solid #303239;
}

.modal-footer {
    border-top: 1px solid #303239;
}

.input-group-addon {
    color: #979aa2;
    background-color: #1c1d1f;
    border: 1px solid #303239;
}

.popped-out {
    box-shadow: 2px 2px 2px 2px black;
    float: left;
    background-color: white;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
    z-index: 100 !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}

.ui-widget-header {
    box-shadow: 2px 2px 2px 2px black;
    background: #1c1d1f;
    color: #222222;
    font-weight: bold;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index: 1000 !important;
    background-color: #131415;
    border: 1px solid #303239;
}

.ui-menu .ui-menu-item {
    padding: 3px 1em 3px .4em;
    
}

.ui-state-focus, .ui-state-focus a {
    background-color: #2C8CE0;
    color: white;
}

.shop-button {
    margin: 5px;
}

.shop,.hc-item {
    max-width: 50px;
    padding: 2px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 1px 1px 0px;
    box-shadow: 1px 1px black;
}

.hc-item:active {
    margin: 1px 0px 0px 1px;
    box-shadow: none;
}

#shop-dialog {
    width: 100% !important;
}

#shop-dialog div {
    background-color: #131415;
}

#shop-dialog.popped-out div {
    background-color: #111;
}

#shoptabs > li, #shoptabs > .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
 /* ie7 fix */
    zoom: 1;
 /* hasLayout ie7 trigger */;
}

#shoptabs, .nav-pills {
    text-align: center;
}

.item_field {
    display: block;
}

.item_active {
    border: 2px solid goldenrod;
    padding: 0px;
    float: left;
}

.item_inactive {
    padding: 2px;
    float: left;
}

.item_name {
    font-weight: bold;
    display: inline;
}

.item_cost {
    margin-left: 10px;
    display: inline;
    background-image: url('/media/images/gold.png');
    padding: 0px 0px 0px 27px;
    background-repeat: no-repeat;
}

.item_manacost {
    margin-right: 10px;
    display: inline;
    background-image: url('/media/images/manacost.png');
    padding: 0px 0px 0px 20px;
    background-repeat: no-repeat;
}

.item_cooldown {
    margin-right: 10px;
    display: inline;
    background-image: url('/media/images/cooldown.png');
    padding: 0px 0px 0px 20px;
    background-repeat: no-repeat;
}

.item_cdmana {
    padding: 10px 0px 0px 0px;
}

.item_lore {
    font-size: 8pt;
    font-style: italic;
}

.item_ability_damage_type {
    display: inline;
    margin-right: 10px;
}

.close, .ui-dialog-titlebar-close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #131415;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.close:hover,
.close:focus, .ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus {
    color: #979aa2;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}

.ability_active {
    opacity: 1;
}

.ability_inactive, .item_disabled, .section_disabled {
    opacity: .35;
}

.item_active:hover,.item_inactive:hover,.hc-item:hover ,.section_header {
    cursor: pointer;
}

.section_header {
    display: inline-block;
}

.section_header:hover,.section_header:active {
    opacity: 0.8;
}

.progress-bar-danger {
    background-color: #428bca;
}

.progress {
    margin-bottom: 0px;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    margin-top: 10px;
}

.bottom-buffer2 {
    padding-bottom: 20px;
}

.row2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
}

.row3 {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
}

.popover {
    width: 276px;
    background-color: #1c1d1f;
}

.popover.bottom .arrow:after {
    border-bottom-color: #1c1d1f;
}

.popover.top .arrow:after {
    border-top-color: #1c1d1f;
}

.btn-default {
    border-color: #303239;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .toggled {
    color: #aaa;
    background-color: #202126;
    border-color: #6C707B;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #1c1d1f;
    border-color: #303239;
}

.form-control {
    border: 1px solid #303239;
}

.sideView {
    width: 50%;
    float: left;
    display: block !important;
    padding: 0px 15px;
}

.nav-tabs {
border-bottom: 1px solid #303239;
}

.nav-tabs>li.second-tab>a, .nav-tabs>li.second-tab>a:hover, .nav-tabs>li.second-tab>a:focus {
    border: 1px solid #303239;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2C8CE0;
    background-color: #131415;
    border: 1px solid #303239;
    border-bottom-color: transparent;
    cursor: default;
}

@media ( max-width:991px ) {
    .bottom-buffer {
        padding-bottom: 20px;
    }
}

@media ( min-width:990px ) {
    .tabledropdown {
        position: absolute;
        background-color: #131415;
        z-index: 100;
        border: 1px solid #202126;
    }
}